<h1>Houses#show</h1>
<p>Find me in app/views/houses/show.html.erb</p>


<h2> <%= @house.name %> </h2>

<p> Points: <%= @house.points%>   </p>
<p>Students:  <%= @house.students.size%>   </p>
<p> Date Made:    <%= @house.created_at %> </p>


<h3> <%= @house.name %>'s Teachers   COUNT: <%= @house.teachers.count%> </h3>
<ul>
<%  @house.teachers.each do |teacher|      %>
  <li>
    <%= link_to teacher.name, teacher %>
  </li>
<% end %>
</ul>


<h3> <%=@house.name%>'s Students     COUNT: <%=@house.students.count%>   </h3>
<ul>
  <% @house.students.each do |student| %>
    <li>
      <%= link_to student.name, student%>
    </li>
  <%end%>
</ul>

<%# this simply make a link back to home, or root %>
<P> <%= link_to 'Home', root_path %> </p>
                        <%# could also use houses_path.       This will affect the URL %>