<%# this is the page where we would put things we want across all pages %>
<!DOCTYPE html>
<html>
  <head>
    <title>HogSchool</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1> THIS IS IN application.html.erb page. It displays on all Pages </h1>
    <%= yield %>
  </body>





  <h4> shitty nav </h4>
  <P> <%= link_to 'houses', houses_path %> </p>
<P> <%= link_to 'teachers', teachers_path %> </p>
<p> <%= link_to 'students', students_path %>  </p>
</html>
